/**********************************

Use: Main Screen Import

***********************************/
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px solid black; }
input.error { border: 1px solid red; }
label.error { color: red; font-weight: normal; }


/*validation css*/
.form-container .form-group label.error {color: red; font-size: 12px; line-height: 12px; margin-top: 4px; font-weight: normal;}