.dataTables_filter {
    display: none;
}

/*table.dataTable>thead .sorting::before,
table.dataTable>thead .sorting_asc::before,
table.dataTable>thead .sorting_desc::before,
table.dataTable>thead .sorting_asc_disabled::before,
table.dataTable>thead .sorting_desc_disabled::before {
    right: 0;
    content: "";
}

table.dataTable>thead .sorting::after,
table.dataTable>thead .sorting_asc::after,
table.dataTable>thead .sorting_desc::after,
table.dataTable>thead .sorting_asc_disabled::after,
table.dataTable>thead .sorting_desc_disabled::after {
    right: 0;
    content: "";
}

table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 4px;
    padding-left: 4px;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding-right: 4px;
    padding-left: 4px;
}*/

.btnspace{
    margin-right: 5px !important;
}

.mt5{
    margin-top:10px;
}

.dataTable tbody tr{
    cursor:pointer;
}

.btnWrapper .btn {
    margin: 2px;
    height: 36px;
}

.dt-buttons{
    display:none;
}

label.btn.btn-default.active {
    background-color: #5cca5c;
    color: #fff;
}

.error-text {
    color: red;
}

.invsearchby{
    color: white; 
    font-size: 20px; 
    padding-right: 10px;
}

.inv-item-action{
    pointer-events: none;
}

.dataTables_filter {
    display: none;
}

.btnWrapper .btn {
    margin: 2px;
    height: 36px;
}

.dt-buttons{
    display:none;
}

label.btn.btn-default.active {
    background-color: #5cca5c;
    color: #fff;
}

.error-text {
    color: red;
}